<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/titulo-descricao" method="post">
        <h1>Formulário de Título e Descrição</h1>
        <label> Título </label>
        <br>
        <input id="titulo" name="titulo" /><br>
        <br>
        <label> Descrição </label>
        <br>
        <input id="descricao" name="descricao" /><br>
        <label> Link da imagem </label>
        <br>
        <input id="imagem" name="imagem" /><br>
        <br>
        <button type="submit">Enviar</button>
      </form>
      
</body>
</html>