<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir Título e Descrição</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <%-include('nav')%>
    <form action="/titulo-descricao" method="post">
        <h1>Formulário de Título e Descrição</h1>
        <label> Título </label>
        <br>
        <input id="titulo" name="titulo" /><br>
        <br>
        <label> Descrição </label>
        <br>
        <input id="descricao" name="descricao" /><br>
        <label> Link da imagem </label>
        <br>
        <input id="imagem" name="imagem" /><br>
        <br>
        <button type="submit">Enviar</button>
      </form>
      
</body>
</html>